<div class="main-container">
  <div class="items-container">
    <div class="item-create">
      <app-item-create (newItemAdded)="newItemAdded($event)"></app-item-create>
    </div>

    <div *ngIf="items.length" class="item-list">
      <h3>Items:</h3>
      <ul >
        <li *ngFor="let item of items;trackBy: trackByFn">
          id: {{item.id}} Title: {{item.title}}
          <button (click)="editItem(item)">Edit</button>
          <button (click)="deleteItem(item)">Delete</button>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="showEditItem" class="item-edit-container">
    <app-item-edit
      [editableItem]="editableItem"
      (changedItem)="getChangedItem($event)"
      (closeEditBlock)="showEditItem = false"
    >
    </app-item-edit>
  </div>
</div>



