<app-item-create (newItemAdded)="newItemAdded($event)"></app-item-create>
<!--<app-item-list [newItem]="newItem" (editableItem)="editItem($event)" [changedItem]="changedItem"></app-item-list>-->
<div *ngIf="showEditItem">
  <app-item-edit [editableItem]="editableItem" (changedItem)="getChangedItem($event)"></app-item-edit>
</div>

<div *ngIf="items.length">
  <h3>Items:</h3>
  <ul *ngFor="let item of items">
    <li>id: {{item.id}} Title: {{item.title}} <button (click)="editItem(item)">Edit</button></li>
  </ul>
</div>
<div *ngIf="changedItem">
  changedItem main comp: {{changedItem | json}}
</div>



